footer {
  text-align: center;
  background-color: var(--footer-bg);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-block: 1rem;
  margin-top: 0;
  color: white;
  font-size: 15px;
  font-family: 'Cairo', sans-serif;

  & span {
    color: var(--fontColor);
    font-weight: bold;
    cursor: pointer;
  }
}
